.accordion .accordion-item {
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: 1px solid rgb(206, 202, 202);
  }
  .accordion .accordion-item:last-child{
    border: none !important;
  }
  
  .accordion .accordion-item button[aria-expanded='true'] {
    border-bottom: 1px solid rgb(228, 215, 215);
  }
  
  .accordion button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1em 0;
    color: #13287d;;
    font-size: 1.4rem;

    font-weight: 600;
    border: none;
    background: none;
    outline: none;
  }
  
  .accordion button .accordion-title {
    padding: 1em 1.5em 1em 0;
  }
  
  .accordion button .icon {
    display: inline-block;
    position: absolute;
    top: 28px;
    right: 0;
    width: 22px;
    height: 22px;
  }
  
  .accordion button .icon::before {
    display: block;
    position: absolute;
    content: '';
    top: 9px;
    left: 3px;
    width: 14px;
    height: 2px;
    background: currentColor;
  }
  .accordion button .icon::after {
    display: block;
    position: absolute;
    content: '';
    top: 3px;
    left: 9px;
    width: 2px;
    height: 14px;
    background: currentColor;
  }
  
  .accordion button[aria-expanded='true'] .icon::before,
  .accordion button[aria-expanded='true'] .icon::after{
    background: #279e64;
  }
  .accordion button[aria-expanded='true'] .icon::after {
    width: 0;
  }
  .accordion button[aria-expanded='true'] + .accordion-content {
    opacity: 1;
    max-height: 9em;
    transition: all 200ms linear;
    will-change: opacity, max-height;
  }
  .accordion .accordion-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
  }
  .accordion .accordion-content p {
    font-size: 1rem;
    font-weight: 300;
    margin: 2em 0;
  }
  
  
  
  